<script src="js/stats.js"></script>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3">
      <h1 class="fontApplication colorPlease">Don't</h1>
      <h1 class="fontApplication colorPlease">Let Me </h1>
      <h1 class="fontApplication colorPlease">Die</h1>
      <div class="card">
        <div class="card-body">
          <p class="lead">Here is where you will access settings</p>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Change Habitat
            </button>
          </h5>
        </div>
        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">
            <form action="/habitat" name="habitat_select" id="habitat_select" method="post">
              <div class="form-check">
                <input type="radio" id="forest" class="form-check-input" name="habitat" value="0">
                <label for="forest">Forest</label>
              </div>
              <div class="form-check">
                <input type="radio" id="snow" class="form-check-input" name="habitat" value="1">
                <label for="snow">Snow Forest</label>
              </div>
              <div class="form-check">
                <input type="radio" id="beach" class="form-check-input" name="habitat" value="2">
                <label for="beach">Beach</label>
              </div>
              <button type="submit" form="habitat_select" name="button" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card text-left">
          <div class="card-body">
            <form name="logout-form" action="/" method="post">
              <button type="submit" formaction="/" formmethod="post" class="btn btn-danger">Logout</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 text-center">

    </div>
    <div class="col-sm-3 ">
      <h1 class="fontApplication colorPlease">Controls</h1>
      <div class="card text-left">
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <button type="button" onclick="move('hunger')" class="btn btn-primary">Food</button>
            </li>
            <li class="list-group-item">
              <button type="button" onclick="move('thirst')" class="btn btn-primary">Water</button>
            </li>
            <li class="list-group-item">
              <button type="button" onclick="move('mental_health')" class="btn btn-primary">Play</button>
            </li>
            <li class="list-group-item">
              <button type="button" onclick="heal('health_status')" class="btn btn-primary">Medicine</button>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </div>
  <div class="row" id="statusbar">
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4 ">
      <h1 class="fontApplication colorPlease" >Stats</h1>
      <div class="card">
        <div class="card-body">

          <div class="progress">
            <div class="progress-bar bg-success" id="hunger" role="progressbar" style="{{hunger}}" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <p>Hunger</p>
          <div class="progress">
            <div class="progress-bar bg-info" id="thirst" role="progressbar" style='{{thirst}}' aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <p>Thirst</p>
          <div class="progress">
            <div class="progress-bar bg-warning" id="mental_health" role="progressbar" style='{{mental_health}}' aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <p>Mental Health</p>
          <div id="health_status">
            <span  class="badge badge-danger">Sick</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="js/three.min.js"></script>
<script src="js/app.js"></script>
<script src="js/WebVR.js"></script>

<script>

  var loader = new THREE.FileLoader();
  loader.load( '{{background}}', function ( text ) {

    var player = new APP.Player();
    player.load( JSON.parse( text ) );
    player.setSize( window.innerWidth, window.innerHeight );
    player.play();

    document.body.appendChild( player.dom );

    window.addEventListener( 'resize', function () {
      player.setSize( window.innerWidth, window.innerHeight );
    } );

  } );

</script>
<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
