/*body {
    background-color: lightblue;
}

h1 {
    color: navy;
    margin-left: 20px;
}*/
canvas {
  width: 100vw;
  height: 100vh;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -9999;
}

#statusbar{
  padding-top: 20px;
}
