<!DOCTYPE html>
<html lang="en">
	<head>
		<title>test_pet</title>
		<meta charset="utf-8">
		<meta name="generator" content="Three.js Editor">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		<!-- Bootstrap core CSS -->
		<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="css/site.css">

		<!-- Custom styles for this template -->
		<style>
			body {
				padding-top: 54px;
			}
			@media (min-width: 992px) {
				body {
					padding-top: 56px;
				}
			}

		</style>

	</head>
	<body ontouchstart="">
    {{{body}}}
	</body>
</html>
